* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: url('img3.jpeg') no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8); */
    /* background: rgba(0, 0, 0, 0.8);  */
}

.logo {
    font-size: 3em;
    color: #fff;
    user-select: none;
}

.navigation {
    width: auto; 
    display: flex;
    align-items: center;
}

.navigation .your-button-class,
.navigation a {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    position: relative;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-left: 20px; 
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.search {
    /* margin-left: auto; */
    /* margin-right: 20px;  */
    display: flex;
    align-items: center;
}

.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 360px;
    height: 53px;
    background: transparent;
    border: 2px solid white;
    margin-top: 17px;
    color: #fff;
    border-right: none;
    font-size: 23px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.search input::placeholder{
    color: white;
}
.btn {
    width: 120px;
    height: 53px;
    background: #FF69B4;
    border: 2px solid rgba(255, 255, 255, 0.2);;
    margin-top: 16px;
    color: #fff;
    font-size: 23px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.btn:focus {
    outline:none;
}

.srch:focus {
    outline: none;
}


/* .winter-collection,
.about-us,
.contact {
    padding: 50px 20px;
    text-align: center;
}

.winter-collection h3,
.about-us h3,
.contact h3 {
    color: white;
    font-size: 33px;
}

.winter-collection p,
.about-us p,
.contact p {
    color: white;
    font-size: 24px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
} */